<footer>
  <div class="footer-content">
    <a href="https://www.ramsaycentre.org/scholarships-courses/postgraduate-scholarships/2024-ramsay-postgraduate-scholars/"></a><img src="{{site.url}}/icons/Ramsay.png" alt="ramsaycentre" class="footer-logo">
    <a href="https://www.linkedin.com/company/engbio-centre-for-doctoral-training/mycompany/"></a><img src="{{site.url}}/icons/CDT.png" alt="engbio-centre-for-doctoral-training" class="footer-logo">
    <a href="https://engbio.ox.ac.uk/"></a><img src="{{site.url}}/icons/Oxford.png" alt="Oxford EngBio" class="footer-logo">
    <a href="https://chemistry.anu.edu.au/research/research-groups/jackson-group"></a><img src="{{site.url}}/icons/ANU.png" alt="jackson-group ANU" class="footer-logo">
    <a href="https://www.coesb.com.au/"></a><img src="{{site.url}}/icons/CoESB.png" alt="Logo 2" class="footer-logo">
    <a href="https://www.aussynbiochallenge.org/>"></a><img src="{{site.url}}/icons/ASBC.png" alt="Logo 3" class="footer-logo">
    <a href="https://nucleate.xyz/"></a><img src="{{site.url}}/icons/Nucleate.png" alt="Logo 3" class="footer-logo">
  </div>
</footer>
