<footer>
  <div class="footer-content">
    <img src="{{site.url}}/icons/Ramsay.png" alt="Logo 1" class="footer-logo">
    <img src="{{site.url}}/icons/CDT.png" alt="Logo 2" class="footer-logo">
    <img src="{{site.url}}/icons/Oxford.png" alt="Logo 3" class="footer-logo">
    <img src="{{site.url}}/icons/ANU.png" alt="Logo 1" class="footer-logo">
    <img src="{{site.url}}/icons/CoESB.png" alt="Logo 2" class="footer-logo">
    <img src="{{site.url}}/icons/ASBC.png" alt="Logo 3" class="footer-logo">
    <img src="{{site.url}}/icons/Nucleate.png" alt="Logo 3" class="footer-logo">
  </div>
</footer>
