<footer>
  <div class="footer-content">
  <div class="footer-logo">
    <a href="https://www.ramsaycentre.org/" target="_blank" rel="noopener noreferrer" title="Visit the Ramsay Centre">
      <img src="/icons/Ramsay.png" alt="Ramsay Centre Logo" style="height: 100px; width: auto; object-fit: contain;">
    </a>
    <a href="https://www.linkedin.com/company/engbio-centre-for-doctoral-training/mycompany/" target="_blank" rel="noopener noreferrer" title="Visit EngBio Centre for Doctoral Training LinkedIn">
      <img src="/icons/CDT.png" alt="EngBio Centre for Doctoral Training Logo" style="height: 100px; width: auto; object-fit: contain;">
    </a>
    <a href="https://engbio.ox.ac.uk/" target="_blank" rel="noopener noreferrer" title="Visit Oxford EngBio">
      <img src="/icons/Oxford.png" alt="Oxford EngBio Logo"style="height: 100px; width: auto; object-fit: contain;">
    </a>
    <a href="https://chemistry.anu.edu.au/research/research-groups/jackson-group" target="_blank" rel="noopener noreferrer" title="Visit the Jackson Group">
      <img src="/icons/ANU.png" alt="Australian National University Jackson Group Logo" style="height: 100px; width: auto; object-fit: contain;">
    </a>
    <a href="https://www.coesb.com.au/" target="_blank" rel="noopener noreferrer" title="Visit CoESB">
      <img src="/icons/CoESB.png" alt="CoESB Logo" style="height: 100px; width: auto; object-fit: contain;">
    </a>
    <a href="https://www.aussynbiochallenge.org/" target="_blank" rel="noopener noreferrer" title="Visit Australasian SynBio Challenge">
      <img src="/icons/ASBC.png" alt="Australasian SynBio Challenge Logo" style="height: 100px; width: auto; object-fit: contain;">
    </a>
    <a href="https://nucleate.xyz/" target="_blank" rel="noopener noreferrer" title="Visit Nucleate">
      <img src="/icons/Nucleate.png" alt="Nucleate Logo" style="height: 100px; width: auto; object-fit: contain;">
    </a>
    </div>
  </div>
</footer>
