<nav>
    <ul>
        <li><a href="{{ site.url }}">Home</a></li>
        <li><a href="{{site.url}}/assets/JackDalton25.6CV.pdf">CV</a></li>
        <li><a href="https://alivingfuture.substack.com/">Blog</a></li>
        <li><a href="https://app.briefly.bio/portfolio/JackDalton">Protocols</a></li>
        <li><a href="/policy-and-progress">Policy</a></li>
        <li><a href="/scientific-projects">Science</a></li>
        <li><a href="/biotech-community">Community</a></li>
        <li style="float: right;"><a href="https://orcid.org/0009-0000-3095-5404"><img class="icon" src="{{site.url}}/icons/orcid.png" alt="ORCID"></a></li>
        <li style="float: right;"><a href="https://scholar.google.com.au/citations?user=khC2NjAAAAAJ&hl=en"><img class="icon" src="{{site.url}}/icons/scholar.png" alt="Google Scholar"></a></li>
        <li style="float: right;"><a href="https://www.linkedin.com/in/jackatdalton"><img class="icon" src="{{site.url}}/icons/linkedin.png" alt="LinkedIn"></a></li>
        <li style="float: right;"><a href="https://github.com/jackatdalton"><img class="icon" src="{{site.url}}/icons/github.png" alt="GitHub"></a></li>
    </ul>
</nav>
